

.DispLigne{
  display: inline;
}
.gauche{
  float: left;
}
.droite{
  float: right;
}
.titre{

  text-align: center
}

.exForGra{
  display: inline;
}
.exFor{
  float: left;

}
.ex{


}
.for{
}
.graphe{
  float: right;
  right: 15px;
}
.comLang{
  display: inline;
}
.com{
  float: left;


}
.lang{
  float: right;

}

.sePoi{
  display: inline;
}
.savoir{
  float: left;

}
.fort{
  float: right;

}
