<div id="generale">
  <button pButton pRipple type="button" icon="pi pi-times" class="p-button-rounded p-button-danger p-button-outlined"(click)="fermer()"></button>

  <div class="L1">
    <div class="L1e">      {{dateDeMiseEnLigne}}
    </div>
    <div class="L1e">{{permis}}</div>
    <div class="L1e">{{dispo}}</div>
    <br style="clear: left;" />
  </div>
  <div class="titre">
    {{titre}}
  </div>

  <div class="L3">
    <div class="experience">
      <div class="titreExperiance">
        Expérience(s) :
      </div>

      <p *ngFor="let exp of ngExperiance">
        {{exp}}
    </div>
    <div class="graphique">
    <p-chart type="radar" [data]="dataGrahp" [style]="{'width': '1%'}"></p-chart>
  </div>
  </div>

  <div class="formation">
    <div class="titre_formation">
      Formation(s) :
    </div>
    <p *ngFor="let form of ngformationSupp">
      {{form}}
  </div>

 <br> <div class="trait_dessus"></div>

  <div class="L4">
    <div class="competence">
      <div class="titrecompetence">
        Compétence(s) :
      </div>
      {{competence}}
    </div>
    <div class="langue">
      <div class="titreLangue">
        Langue(s) :
      </div>
      {{langue}}
    </div>
  </div>


  <div class="L5">
    <div class="savoirEtre">
      <div class="titresavoirEtre">
        Savoir être :
      </div>
      {{savoirEtre}}
    </div>
    <div class="ptsFort">
      <div class="titreptsFort">
        Point(s) fort(s) :
      </div>
      {{ptsFort}}
    </div>
  </div>


<!--
        -->
<!--          -->
<!--        -->
<!--        -->
<!--        {{langue}}-->
<!--        {{savoirEtre}}-->
<!--        {{ptsFort}}-->


</div>
