
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/img/hr.png"
  />
  <span>HrHelper</span>
</div>
<div class="content" >


  <div class="personne">

      <div class="haut">
        <button pButton pRipple type="button" label="{{titreProfil}}" class="p-button-outlined p-button-info"(click)="ouverture_Info()"></button>

      </div>
    <div class="texte">
      Formations : <br> {{dateFormation}} - {{titreFormation}} - {{niveau}} <br> 
      <!-- Disponibilite : -->  <br>  {{dispo}} <br>
      <!--Date de mis en ligne : -->  <br> {{dateMAJ}}
    </div>
  </div>




  <div id="menuInfo">
    <app-information-personne [Infos]="infoPersonne" ></app-information-personne>
  </div>

  <div class='slides'>
    <div id="menuFiltre">
      <app-filtre (notify)="onNotifyClickedFiltre($event)"></app-filtre>
    </div>
  </div>
  <div class="bouton_filtre">
    <p-button label="Click" icon="p-button-icon pi pi-check" class="p-button-rounded p-button p-component p-button-icon-only"iconPos="center" (click)="ouverture_filtre()"></p-button>

  </div>



</div>



