<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/img/hr.png"
  />
  <span>HrHelper</span>
</div>


<div *ngIf="ouvertureChargement">
  <div class="spinner">
    <p-progressSpinner></p-progressSpinner>
  </div>
</div >

<div *ngIf="ouvertureCase">
  <div class="content" id="listeProfils" >
    <ul>
      <li *ngFor="let person of InfoBrute">
        <app-case [personne]="person" ></app-case>

      </li>
    </ul>
  </div>
</div >









  <div class='slides'>
    <div id="menuFiltre">
      <app-filtre (notify)="onNotifyClickedFiltre($event)"></app-filtre>
    </div>
  </div>
  <div class="bouton_filtre">
    <div id ="boutonFiltre">
    <p-button label="Click" icon="p-button-icon pi pi-check" class="p-button-rounded p-button p-component p-button-icon-only"iconPos="center" (click)="ouverture_filtre()"></p-button>
   </div>
  </div>






