:host ::ng-deep .p-multiselect {
  min-width: 15rem;
  width: 18rem;
}

:host ::ng-deep .multiselect-custom {
  .p-multiselect-label {
    padding-top: .25rem;
    padding-bottom: .25rem;
  }

  .country-item-value {
    padding: .25rem .5rem;
    border-radius: 3px;
    display: inline-flex;
    margin-right: .5rem;
    background-color: var(--primary-color);
    color: var(--primary-color-text);

    img.flag {
      width: 17px;
    }
  }

  .country-placeholder {
    padding: 0.25rem;
  }
}
:host ::ng-deep {
  @media screen and (max-width: 640px) {
    .p-multiselect {
      width: 100%;
    }
  }
}
.filtre{
}
.motCle{
  display: inline-block;
}
.cle{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.saisie_cle{
  float: right;
  margin-left: 80px;

  margin-right: 15px;
}

.permis{
  display: inline-block;
}
.textePemis{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.ouiNon{
  display: inline-block;

  float: right;
  margin-left: 90px;
}
.avec{
  float: right;
  margin-left: 15px;

}
.sans{
  float: left;
  margin-right: 15px;

}

.langue{
  display: inline-block;
}
.texteLangue{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.boxLangue{
  float: right;
  margin-left: 70px;
}

.etude{
  display: inline-block;
}
.texteEtude{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.boxEtude{
  float: right;
  margin-left: 90px;
}
.dispo{
  display: inline-block;
  margin-top: 25px;
}
.texteDispo{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.boxDispo{
  float: right;
  margin-left: 90px;
}
.valider{
  margin-top: 15px;
  margin-bottom: 15px;
  text-align: center;
}


