<div class="filtre">


  <div class="dispo">
    <div class="texteDispo">
      <h3>Disponibilite  </h3>
    </div>
    <div class="boxDispo">
       <div class="field-checkbox">
        <p-checkbox name="group1" value="disponible" [(ngModel)]="dispoImmedia"  inputId="ny"></p-checkbox>
        <label for="disponible">Disponible</label>
      </div>

        <div class="field-checkbox">
           <p-checkbox name="group1" value="plusTard" [(ngModel)]="dispoPlusTard" inputId="sf"></p-checkbox>
           <label for="plusTard">Plus Tard</label>
         </div>
       </div>
     </div>
     <br>

     <div class="etude">
       <div class="texteEtude">
         <h3>Etude  </h3>
       </div>
       <div class="boxEtude">
         <p-multiSelect [options]="etude" [(ngModel)]="selectedEtude" defaultLabel="Etude" optionLabel="name" display="chip"></p-multiSelect>

     </div>
   </div>
   <br>

   <div class="langue">
     <div class="texteLangue">
       <h3>Langues  </h3>
     </div>
     <div class="boxLangue">
        <p-multiSelect [options]="langue" [(ngModel)]="selectedLangue" defaultLabel="Langues" optionLabel="name" display="chip"></p-multiSelect>

     </div>
  </div>
  <br>
  <div class="permis">
    <div class="textePemis">
      <h3>Permis  </h3>
    </div>
    <div class="ouiNon">
      <div class="sans">
        <p> Sans   </p>

      </div>

      <p-inputSwitch [(ngModel)]="checked" ></p-inputSwitch>
      <div class="avec">
        <p>   Avec</p>

      </div>

    </div>
  </div>
  <br>
  <div class="motCle">
    <div class="cle">
      <h3>mot cle </h3>
    </div>
    <div class="saisie_cle">
      <input type="text" pInputText #boxMotCle (keyup.enter)="ajouterFiltre(boxMotCle.value)"(blur)="ajouterFiltre(boxMotCle.value)"/>
    </div>
  </div>
  <div class="valider">
    <button pButton pRipple type="button" label="Validé" class="p-button-outlined p-button-info"(click)="valider_filtre()"></button>
  </div>

</div>



