.filtre{
}
.motCle{
  display: inline-block;
}
.cle{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.saisie_cle{
  float: right;
  margin-right: 10px;
}

.permis{
  display: inline-block;
}
.textePemis{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.ouiNon{
  float: right;
  margin-left: 90px;
}

.langue{
  display: inline-block;
}
.textePemis{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.boxLangue{
  float: right;
  margin-left: 90px;
}

.etude{
  display: inline-block;
}
.texteEtude{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.boxEtude{
  float: right;
  margin-left: 90px;
}
.dispo{
  display: inline-block;
  margin-top: 25px;
}
.texteDispo{
  float: left;
  margin-right: 15px;
  margin-left: 10px;
}
.boxDispo{
  float: right;
  margin-left: 90px;
}

