.division{
  margin-left: 50px;
  position: relative;
  margin-top: -450px;
  width: 1000px;

}
.gauche{
  float: left;
  height: 250px;
  width: 650px;
  border-width:1px;
  border-style:dotted;
  border-color:black;

}
.droite{
  float: right;
  width: 300px;

  height: 250px;
  border-width:1px;
  border-style:dotted;
  border-color:black;


}
.titre{
  font-size: 18px;
  margin-top: 5px;
}
.lien{

  position: relative;
  margin-top: 550px;

}
.titreLien{

}
.lien_1{
  float: left;

}
.lien_2{
  float: right;
  margin-right: 700px;
}
.case{
  //margin-bottom: 20px;
  //border-width:1px;
  //border-style:dotted;
  //border-color:black;
  //width: 100%;
  //background: white;
}



