<table  cellpadding="15" cellspacing="10"width="100%">
  <thead>
  <tr>
    <th colspan="3" border="1"></th>
  </tr>
  </thead>
  <tbody>
  <tr>
    <td>Dans le cadre de notre cursus universitaire en Master informatique, à Le Mans Université, dans le module 178UD07 : Conception et Développement de Logiciel,<br> un projet informatique pour un client, Madeth MAY, a été réalisé.
      Le projet HRhelper est un projet informatique destiné à faciliter la vie des recruteurs et<br> responsables des ressources humaines qui veulent trouver des profils adéquats aux postes qu’ils proposent en se basant sur des filtres, mots clés et <br>indicateurs (graphiques) depuis un outil web.
      HRhelper s'adresse également aux candidats qui souhaitent connaître les profils de leurs concurrents afin<br> de mieux se préparer à défendre leurs candidatures.</td>
    <td  align="center" valign="top" border="1"style="border:2px solid black" ><div class="titre">
      Equipe :
    </div>
      DUBIN Baptiste<br>
      MOTTIER Anaïs<br>
      PLANCHENAULT SImon<br>
      PROUDY Julien<br>

      <div class="titre">
        Tuteur :
      </div>
      MAY Madeth
      <div class="titre">
        Etablissement :
      </div>
      Institut Claude Chappe,
      Le Mans Université, 72000 LE MANS
    </td>
  </tr>
  </tbody>
  <tbody>
  <tr>


    <td >
      Documents du projet :
<!--      <button onclick="window.location.href = 'https://univlemansfr-my.sharepoint.com/:p:/g/personal/anais_mottier_etu_univ-lemans_fr/ESOrEApYV9xOsdaRlRR-kJcBzZqeUM0e39I3oUZhO8pcow?rtime=OVdd-MoB2kg';" pButton pRipple type="button" label="Diaporama" class="p-button-warning"></button>-->
      <a href="fichier.pdf" download>    Diaporama  </a> /  <a href="fichier.pdf" download>  Rapport</a>
      <br>


    </td>
    <td>
      Pour nous contacter :       hrhelperetu@gmail.com

    </td>
    <td>
    </td>
  </tr>
  </tbody>

  <tr>

    <td>

    </td>
    <td>

    </td>
    <td >

    </td>
  </tr>
</table>
