
<div class="liste">
  <ul>
    <li><input type="button" value="Valider la reponse" onclick="ajouterFiltre()"></li>
    <li><button (click)="ajouterFiltre('test')"> noms</button>
      <ul>
        <li><button (click)="ville('Le Mans')"> Ville</button>
        </li>
        <li><button (click)="ajouterFiltre('ouiii')"> debut</button></li>
      </ul>
    </li>
    <li><button (click)="resetFiltre()"> reset</button></li>
  </ul>
</div>

<div class="listeFiltre">
Liste des filtres:
  {{content}}

  {{filtre}}

</div>


