<!-- Toolbar -->
<div id="presentation">
  <div class="image">
    <img
      width="70"


      alt="Angular Logo"
      src="../assets/img/hr.png"
    />
  </div>

  <div class="titre">
    <h2>HrHelper</h2>
  </div>

  <div class="tuto">
    <p><iframe width="800" height="550" src="https://www.youtube.com/embed/dmxjgPTJnm4" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></p>
    <button pButton type="button" class="p-button-rounded" (click)="presentation()"> COMMENCER</button>

  </div>




  <footer>
    <br>
    <p>Projet universitaire M1 Informatique Le Mans Univsersité PROUDY Julien - DUBIN Baptiste - MOTTIER Anaîs - PLANCHENAULT Simon
      <br>Référent de projet MAY Madeth</p>
  </footer>

</div>

<div id="main">
  <app-display [InfoBrute]="data"  ></app-display>
</div>
