<!-- Toolbar -->
<div class="toolbar" role="banner">
  <img
    width="40"
    alt="Angular Logo"
    src="../assets/img/hr.png"
  />
  <span>hrHelper</span>
</div>

<div class="content" >

  <div class="gauche" >
    <p>gauche</p>
  </div>


  <div class="principale">
    <div class="recherche">
      <div class ="metier">
        <label for="name">Name (4 to 8 characters):</label>
        <input type="text" id="name" name="name" required
               minlength="4" maxlength="8" size="10">
      </div>
      <div class="lieux">
        <p>
          sss
        </p>
      </div>
      <div class="rechercher">
        <p>
          ssss
        </p>
      </div>
    </div>
    <div class = "reponse">
      <p>principale</p>

    </div>
  </div>

</div>



<router-outlet></router-outlet>
